<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM TestSuite">

<listeners>
	<listener class-name="com.qa.extentreportlistener.ExtentReportListenerNG"></listener>
</listeners>

	<test name="OrangeHrm App Test Cases">
	
		<classes>
			<class name="com.orangehrm.qa.testcases.LoginPageTest"></class>
			<class name="com.orangehrm.qa.testcases.HomePageTest"></class>
			<class name="com.orangehrm.qa.testcases.RecruitmentPageTest"></class>
		</classes>
		
	</test>
</suite>